<div>
    <h2 id="page-heading">
        <span>Attendances</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attendance-my-suffix" [routerLink]="['/attendance-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Attendance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="attendances">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Attendance Id</span></th>
            <th><span>Clock In</span></th>
            <th><span>Clock Out</span></th>
            <th><span>Employee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let attendance of attendances ;trackBy: trackId">
                <td><a [routerLink]="['/attendance-my-suffix', attendance.id, 'view' ]">{{attendance.id}}</a></td>
                <td>{{attendance.attendanceId}}</td>
                <td>{{attendance.clockIn | date:'medium'}}</td>
                <td>{{attendance.clockOut | date:'medium'}}</td>
                <td>
                    <div *ngIf="attendance.employeeId">
                        <a [routerLink]="['../employee-my-suffix', attendance.employeeId , 'view' ]" >{{attendance.employeeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/attendance-my-suffix', attendance.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/attendance-my-suffix', attendance.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'attendance-my-suffix/'+ attendance.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
